

/* 
body::-webkit-scrollbar{
  display: none;
} */


/* In your global.css or deviceConfiguration.module.css */
 body {
  height: 100%;
  margin: 0;

  background-color: #F5F5F5; /* Ensure this matches your desired background color */
}
.tableContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  overflow-y: auto;          /* Enable vertical scrolling */
}

.Table_scroll::-webkit-scrollbar {
  display: none;
}





.TopMainContainer {
  min-height: 100vh; /* Make sure the container takes up at least the full viewport height */
  background-color: inherit; /* Inherit background color from body */
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.deviceTableContainer {
  flex-grow: 1; /* Make sure it grows to take up remaining space */
  overflow-y: auto;
}



.deviceTableContainer {
  padding: 50px;
  margin-top: 50px;
  font-family: "Poppins";

  margin-left: -150px;
  overflow-y: auto;
  display: flex;
}

img {
  width: 32px;
  height: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.topContent {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 30px;
}

.topButton {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff914d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dltButton {
  margin-right: 10px;
  padding: 10px 20px;
  border-color: #ff914d;
  border-radius: 5px;
  cursor: pointer;
  color: #ff914d;
}
.topButton:hover {
  background-color: #ff914d;
}

.filterButton {
  background-color: white;
  color: black;
  font-weight: bold;
  font-weight: 100px;
  margin-top: 70px;
  
}

.filterIcon {
  width: 5.33px;
  height: 7px;
  top: 2px;
  left: 1.33px;
  gap: 0px;
  border: 1.66px 0px 0px 0px;
  opacity: 0px;
}

.tableContainer {
  border-radius: 8px;
  overflow-x: auto;
  width: 85vw;
  overflow: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
.tableContainer::-webkit-scrollbar {
  display: none; 
}
.filterButton:hover {
  background-color: white;
}
.filtercontent:hover{
  background-color: #F5F5F5;
}
.filterButton .filterButtonIcon {
  width: 1vw;
  height: 5vh;
}

.statusOnline {
  color: rgb(103, 238, 103);
  font-weight: bold;
}

.statusOffline {
  color: rgb(242, 88, 88);
  font-weight: bold;
}

.btnedit {
  color: #666666;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 5px;
  background-color: white;
}
.btnedit:hover {
  background-color: #f5f5f5;
}
.btndelete {
  color: #666666;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 5px;
  background-color: white;
}

.btndelete:hover {
  background-color: #f5f5f5;
}

@media (max-width:1024px){
  .deviceTableContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-y: hidden;
  }
}

@media (max-width: 768px) {
  .deviceTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .topButton {
    padding: 5px 10px;
  }
  .dltButton{
    padding: 5px 10px;
  }
  .buttonContainer {
    min-height: auto;
    min-width: auto;
  
    align-items: flex-start;
  }
 
  .topcontant .filterButtonIcon {
    height: auto;
    width: auto;
  }
}
@media (max-width: 480px) {
  .topContent {
    min-width: auto;
    min-height: auto;
    font-size: 21px;
    margin-top: 20px;
 
  }
  

  .deviceTableContainer {
    margin-left: auto;
    width: 100vw;
    overflow: hidden;
  }
   .dltButton{
    padding: 5px 10px;
    margin-top: 15px;
  }
  .filtercontent{
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 0.750rem;
  }

}
