/* body{
  background-color: #F5F5F5;
}

.deviceTableContainer {
  padding: 20px;
 
  font-family: "Poppins";
  width: 1150px;

}
img {
  width: 32px;
  height: 32px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.topContent {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
.topButton {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff914d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.topButton:hover {
  background-color: #ff914d;
}

.filterButton {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 70px;
}
.filterIcon {
  width: 5.33px;
  height: 7px;
  top: 2px;
  left: 1.33px;
  gap: 0px;
  border: 1.66px 0px 0px 0px;
  opacity: 0px;
}
.tableContainer{
  border-radius: 8px;
}
.filterButton:hover {
  background-color: #f4f8fa;
}
.filterButtonIcon {
  width: 5px;
  height: 5px;
}
.statusOnline {
  color: rgb(138, 140, 138);
}

.statusOffline {
  color: rgb(97, 95, 95);
}

.actionButtons {
  display: flex;
}

.actionButton {
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.editButton:hover {
  color: blue;
}
.dltButton {
  margin-right: 10px;
  padding: 10px 20px;

  color: #ff914d;
  border-color: #ff914d;
  border-radius: 5px;
  cursor: pointer;
}
.deleteButton:hover {
  color: red;
}
.tableContainer {
  width: 100%;
}

.react-data-table {
  border-collapse: collapse;
  width: 100%;
}

.emptyScreen {
  padding: 20px;

  background-color: #ffffff;
  height: 250px;
}

.react-data-table th,
.react-data-table td {
  border: none;
  padding: 10px;
}

.react-data-table thead th {
  background-color: #f8f8f8;
}

.react-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .topButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .deviceTableContainer {
    padding: 10px;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterButton {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .topButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .deviceTableContainer {
    padding: 5px;
  }
} */

/* .deviceMainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: 
  #F5F5F5;
 }

.deviceTableContainer {
  padding: 120px;
  font-family: "Poppins";
  width: 100vw;
  height: 100vh;
 
  margin-right: 550px;
}

img {
  width: 32px;
  height: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.topContent {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 30px;
}

.topButton {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff914d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.topButton:hover {
  background-color: #ff914d;
}

.filterButton {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 70px;
}

.filterIcon {
  width: 5.33px;
  height: 7px;
  top: 2px;
  left: 1.33px;
  gap: 0px;
  border: 1.66px 0px 0px 0px;
  opacity: 0px;
}

.tableContainer {
  border-radius: 8px;
  overflow-x: auto;
}

.filterButton:hover {
  background-color: #f4f8fa;
}

.filterButtonIcon {
  width: 5px;
  height: 5px;
}

.statusOnline {
  color: rgb(138, 140, 138);
}

.statusOffline {
  color: rgb(97, 95, 95);
}

.actionButtons {
  display: flex;
}

.actionButton {
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.editButton:hover {
  color: blue;
}

.dltButton {
  margin-right: 10px;
  padding: 10px 20px;
  color: #ff914d;
  border-color: #ff914d;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  color: red;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.react-data-table {
  border-collapse: collapse;
  width: 100%;
}

.emptyScreen {
  padding: 20px;
  background-color: #ffffff;
  height: 250px;
}

.react-data-table th,
.react-data-table td {
  border: none;
  padding: 10px;
}

.react-data-table thead th {
  background-color: #f8f8f8;
}

.react-data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .topButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .deviceTableContainer {
    padding: 10px;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .filterButton {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .topButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .deviceTableContainer {
    padding: 5px;
  }
} */

.deviceTableContainer {
  padding: 120px;
  font-family: "Poppins";
  /* width: 100vw; */
  /* height: 100vh; */
  margin-left: -200px;
  overflow-y: auto;
}

img {
  width: 32px;
  height: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.topContent {
  font-weight: bold;
  font-family: "Poppins";
  font-size: 30px;
}

.topButton {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff914d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dltButton {
  margin-right: 10px;
  padding: 10px 20px;

  border-radius: 5px;
  cursor: pointer;
}
.topButton:hover {
  background-color: #ff914d;
}

.filterButton {
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 70px;
}

.filterIcon {
  width: 5.33px;
  height: 7px;
  top: 2px;
  left: 1.33px;
  gap: 0px;
  border: 1.66px 0px 0px 0px;
  opacity: 0px;
}

.tableContainer {
  border-radius: 8px;
  overflow-x: auto;
  width: 85vw;
}

.filterButton:hover {
  background-color: #f4f8fa;
}

.filterButton .filterButtonIcon {
  width: 1vw;
  height: 5vh;
}

.statusOnline {
  color: rgb(138, 140, 138);
}

.statusOffline {
  color: rgb(97, 95, 95);
}

.btnedit {
  color: #666666;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 5px;
  background-color: white;
}
.btnedit:hover {
  background-color: #f5f5f5;
}
.btndelete {
  color: #666666;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 5px;
  background-color: white;
}

.btndelete:hover {
  background-color: #f5f5f5;
}
@media (max-width: 768px) {
  .deviceTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topButton {
    padding: 5px 10px;
  }

  .buttonContainer {
    min-height: auto;
    min-width: auto;
    /* flex-direction: column; */
    align-items: flex-start;
  }
  .topcontant .filterButtonIcon {
    height: auto;
    width: auto;
  }
}
@media (max-width: 480px) {
  .topContent  {
    min-width: auto;
    min-height: auto;
    font-size: 21px;
  }
  .deviceTableContainer{
   margin-left: 40px;
  }
}
