/* .pageContainer {
  padding: 20px;
  margin-bottom: 300px;

  margin-top: 200px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
}

.reportIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.chartBox {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(38% - 20px);
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.boxHeader h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #333;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}

.downloadIcon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

@media (max-width: 1200px) {
  .chartBox {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .chartBox {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .boxHeader h3 {
    font-size: 1.2rem;
  }

  .downloadIcon {
    width: 20px;
  }
} */



.pageContainer {
  padding: 20px;
  /* margin-bottom: 300px; */
  margin-top: 100px;
  display: flex;
  margin-left: 50px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reportIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 35px;
  line-height: 52.5px;
}

.contentArea {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.chartBox {
  flex: 1 1 48%;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  min-width: 300px; 
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.boxHeader h3 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #333;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}

.downloadIcon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

@media (max-width: 1200px) {
  .chartBox {
    flex: 1 1 calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .chartBox {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .boxHeader h3 {
    font-size: 1.2rem;
  }

  .downloadIcon {
    width: 20px;
  }
}
