


body {
 
  /* display: flex;
  justify-content: center; */
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  margin: 10px;
  width: '200px';
  max-width: 1200px;
}

.configHeader {
  /* font-size: 24px; */
  font-weight: bold;
  margin-bottom: 20px;
  font-family: popins;
  font-weight: 600;
  font-size: 28px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center; */
}

.flexItemBox {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  height: 130px;
}

.iconBox {
  margin-bottom: 10px;
}

.flexItemIcon {
  width: 50px;
  height: 50px;
}

.flexItemHeader {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1600px;
  }

  .flexItemBox {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  .flexItemBox {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
    
  }
  .container {
    max-width: 600px;
  }

  .flexItemBox {
    width: 100%;
    margin-bottom: 20px;
  }
}
