/* 
.mainContainer{
  display: flex;
  width: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: fit-content;
  background-color: white;
  overflow: hidden;
  margin-top: 90px;
  transition: transform 0.3s ease-in-out;
  height: 80vh;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left: 10px;
  margin-top: 20px;
}
.columnContainer p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
  color: orange;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .container {
    width: 70px;
  }
  .image {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 60px;
  }
  .image {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 130px;
    height: fit-content;
    padding-top: 60px;
  }
  .image {
    width: 30px;
    height: 30px;
  }
  .hamburger {
    display: block;
    margin-left: 1%;
    margin-top: 11vh;
  }

  .container {
    transform: translateX(-100%);
  }

  .container.open {
    transform: translateX(0);
  }

  .columnContainer {
    display: flex;
    flex-direction: row; 
    margin-top: 10px; 
  }

  .columnContainer p {
    margin: 0;
    margin-left: 10px; 
  }
} */

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  margin-top: 80px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
}

.link p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  margin: 0;
  margin-top: 10px;
}

.image {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .container {
    width: 50vw;
    height: fit-content;
    padding-top: 60px;
    transform: translateX(-100%);
    border-radius: 50px;
  }

  .container.open {
    transform: translateX(0);
  }

  .image {
    width: 80px;
    height: 80px;
    padding: 20px;
  }

  .hamburger {
    display: block;
    margin-left: 1%;
    margin-top: 7%;
  }

  .columnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .link {
    flex-direction: row;
    align-items: center;
  }

  .link p {
    font-size: 2rem;
    margin: 0;
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 80vw;
    height: fit-content;
    padding-top: 60px;
    transform: translateX(-100%);
  }

  .container.open {
    transform: translateX(0);
  }

  .image {
    width: 50px;
    height: 50px;
    /* padding: 30px; */
  }

  .hamburger {
    display: block;
    margin-left: 1%;
    margin-top: 7%;
  }

  .columnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .link {
    flex-direction: row;
    align-items: center;
  }

  .link p {
    font-size: 1rem;
    margin: 0;
    margin-left: 10px;
  }
}