
.mainContainer{
  display: flex;
  width: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: fit-content;
  background-color: white;
  overflow: hidden;
  margin-top: 90px;
  transition: transform 0.3s ease-in-out;
  height: 80vh;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure items are aligned in the center */
  margin-left: 10px;
  margin-top: 20px;
}
.columnContainer p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Add margin to the right of the image */
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
  color: orange;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .container {
    width: 70px;
  }
  .image {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 60px;
  }
  .image {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 130px;
    height: fit-content;
    padding-top: 60px;
  }
  .image {
    width: 30px;
    height: 30px;
  }
  .hamburger {
    display: block;
    margin-left: 1%;
    margin-top: 11vh;
  }

  .container {
    transform: translateX(-100%);
  }

  .container.open {
    transform: translateX(0);
  }

  .columnContainer {
    display: flex;
    flex-direction: row; /* Align items in a row */
    margin-top: 10px; /* Adjust margin */
  }

  .columnContainer p {
    margin: 0;
    margin-left: 10px; /* Add margin to the left of the text */
  }
}