

.navbar_cont {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 10px 20px;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.companyDesc {
  display: flex;
  align-items: center;
  color: black;
}

.companyDesc img {
  height: 40px; 
  margin-right: 10px; 
}

.companyName {
  color: #fff;
  font-size: 28px; 
  text-decoration: none; 
  color: black;
}

.deviceOnlineBox {
  margin-left: 20px; 
  color: #0a0a0a; 
}

.deviceOnlineHeader {
  font-weight: bold; 
}
.deviceOnlineValue {
  font-size: 14px; 
}

.navbar_right {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  color: #080808; 
}

.userName {
  margin-right: 10px; 
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar_cont {
    display: flex; 
  }

  .companyDesc {
    display: block;
    margin-bottom: 10px; 
  }

  .deviceOnlineBox {
    margin-left: 0; 
  }

  .userName {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .companyName {
    font-size: 20px; 
  }
  .companyDesc img {
    height: 20px; 
    margin-right: 10px; 
  }
  .companyName {
    color: #fff;
    font-size: 12px; 
    text-decoration: none; 
    color: black;
  }
  .deviceOnlineHeader {
    font-weight: bold; 
  }
  .deviceOnlineValue {
    font-size: 8px; 
  }
  
  .profile {
    display: flex;
    align-items: center;
    color: #080808; 
    height: 20px;
  }
  
  .userName {
    margin-right: 10px; 
    font-size: 8px;
  }
  .deviceOnlineHeader,
  .deviceOnlineValue {
    font-size: 12px; 
  }

  .userName {
    font-size: 12px; 
  }
}
