

.container {
  position: relative;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-left: 100px;
}

.previewBox {
  width: 270px;
  height: 508px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.previewText {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  margin-right: auto;
  font-family: "Poppins";
}

.imageContainer {
  width: 250px;
  max-height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.videoContainer {
  margin-top: 20px; 
}

@media (max-width: 1024px) {
  .previewBox {
    width: 80%;
    height: auto;
    padding: 10px;
  }

  .previewText {
    font-size: 20px;
  }

  .imageContainer {
    width: 80%;
    height: auto;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .previewBox {
    width: 70vw;
    height: 55vh;
    padding: 5px;
    margin-right: auto;
  }

  .previewText {
    font-size: 18px;
  }

  .imageContainer {
    width: 90%;
    height: auto;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .previewBox {
    width: 90%;
    height: auto;
    padding: 2px;
  }
  .container {
    /* margin-top: -10px; */
    margin-right: 50px;
  }
  .previewText {
    font-size: 16px;
    padding: 8px;
  }
  .image {
    border-radius: 12px;
    padding: 8px;
    margin-top: -30px;
  }
  .imageContainer {
    width: 100%;
    height: auto;
    margin-top: 5px;
  }

  .emptyScreen {
    margin-top: 10px;
  }
}
