
 /* Main container width reduced */
.alertContainer {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto; /* Center align with auto margins */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px; /* Reduced width */
  /* margin-left: auto; */
  margin-right: inherit;
  
}

.alertHeader {
 display: flex;
 margin-right: auto;
}

.alertText {
  margin: 10px 0;
  text-align: left;
  font-size: 0.700rem; /* Adjusted for better readability */
}

.alertImages {
  display: flex;
  flex-direction: column; /* Ensure images are in a column */
  gap: 10px;
  align-items: center; /* Center images horizontally */
}

.smallImage,
.largeImage {
  width: 100%;
  max-width: 300px; /* Max width for images */
  height: auto;
  border-radius: 10px;
}

.downloadButton {
  background-color: #ff9800;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
}

.downloadButton:hover {
  background-color: #e68900;
}

.DownloadImg {
  width: 16px; /* Adjusted size */
  height: 14px; /* Adjusted size */
  margin-right: 5px;
}

.downloadButtonImg {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .alertContainer {
    padding: 10px;
    margin: 10px;
  }

  .alertText {
    font-size: 0.75rem; 
  }

  .downloadButton {
    padding: 8px;
    font-size: 14px;
  }

  .DownloadImg {
    width: 14px; 
    height: 12px; 
  }
}
